@charset "utf-8";

/************************************************
 共通設定
************************************************ */
body {
    color: #333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    background: url("../img/common/bg_body.jpg") repeat-y left top;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
}

select {
    border: solid 1px #ccc;
}

/*写真*/
.picture {
    border: 1px solid #ccc;
}


/* ==============================================
 フレーム
=============================================== */
/* 全体を包括 */
.frame_outer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/* コンテンツ */
#container {
    margin: 0 auto;
    padding: 0 0 0 0;
    width: 960px;
    background: #fff;
    text-align: left;
}

.centerColumn {
	padding: 6px 6px 6px 6px;
	margin: 0 0 20px 0;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center top;
	border: 1px solid #999999;
	overflow:auto;
	}

.centerColumn2 {
	padding: 3px;
	margin: 10px 0 10px 0;
	background-color: #08A9E6;
/*	background-image: url(../images/body_bg.jpg);*/
	background-repeat: no-repeat;
	background-position: center top;
	border: 0px solid #999999;
	overflow:auto;
	text-align: center;
	}


/* ==============================================
 カラム指定
=============================================== */
/* ヘッダーとフッターの上下
[注意]ブロック移動時はbloc.css内で調整が必要 */
#topcolumn ,
#bottomcolumn ,
#footerbottomcolumn {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    background: #fff;
    text-align: left;
}

/* 中央カラム */
.main_column {
    padding: 0;
}

/* サイドカラム */
#leftcolumn {
    float: left;
    width: 180px;
}
#rightcolumn {
    float: right;
    width: 180px;
}

/* 1カラム設定 */
#one_maincolumn {
    margin: 0 auto;
	width:696px;
}

/* 2カラム設定 (メイン部が左) */
#two_maincolumn_left {
    padding-left: 1.5%;
    float: left;
    width: 78%;
}

/* 2カラム設定 (メイン部が右) */
#two_maincolumn_right {
    padding-right: 0;
    padding-left: 8px;
    width: 580px;
    float: right;
}

/* 3カラム設定 */
#three_maincolumn {
    width: 580px;
    float: left;
    margin:0 10px 0 10px;
}

/* 下層コンテンツ */
#undercolumn {
    width: 100%;
    margin: 0 0 30px 0;
	*margin: 0 0 10px 0;
}


/* ==============================================
 ユーティリティ
=============================================== */
/* フロート回り込み解除
----------------------------------------------- */
.clearfix:after {
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
    content: ".";
}
.clearfix {
    display: block; /* for IE8 */
	
}
.clear {
    clear: both;
}

/* リンク指定
----------------------------------------------- */
a:link ,
a:visited {
    color: #0000EE;
    text-decoration: none;
}
a:link:hover ,
a[href]:hover {
    color: #EE1C25;
    text-decoration: underline;
}


/* フォント
----------------------------------------------- */
h1 {
    font-size: 14px;
}
h2,h3,h4,h5 {
    font-size: 100%;
    line-height: 150%;
}
.sale_price {
    color: #f00;
}
.normal_price {
    font-size: 100%;
}
.point {
    color: #f00;
    font-weight: bold;
}
.user_name {
    font-weight: bold;
}
.recommend_level {
    color: #ecbd00;
}

.attention {
    color: #f00;
}
.attentionSt {
    color: #f00;
    font-weight: bold;
}
.st {
    font-weight: bold;
}
.mini {
    font-size: 90%;
}


/* 行揃え
----------------------------------------------- */
.alignC {
    text-align: center;
}
.alignR {
    text-align: right;
}
.alignL {
    text-align: left;
}
.pricetd em {
    font-weight: bold;
}


/* フォーム
----------------------------------------------- */
input[type='text'] ,
input[type='password'] ,
.select {
      border: 1px solid #CCCCCC;
    margin: 0;
    padding:3px 3px;
	font-size:16px;
}


.box30 {
    width: 30px;
	font-size:16px;
}
.box40 {
    width: 40px;
	font-size:16px;
}
.box60 {
    width: 60px;
	font-size:16px;
}
.box100 {
    width: 100px;
	font-size:16px;
}
.box120 {
    width: 120px;
	font-size:16px;
}
.box140 {
    width: 140px;
	font-size:16px;
}
.box145 {
    width: 145px;
	font-size:16px;
}
.box150 {
    width: 150px;
	font-size:16px;
}
.box160 {
    width: 160px;
	font-size:16px;
}
.box240 {
    width: 240px;
	font-size:16px;
}
.box300 {
    width: 300px;
	font-size:16px;
}
.box320 {
    width: 320px;
	font-size:16px;
}
.box350 {
    width: 350px;
	font-size:16px;
}
.box380 {
    width: 380px;
	font-size:16px;
}

/* フォームが縦に重なり合う場合に併用する余白 */
.top {
    margin-bottom: 5px;
}

.ng_top {
    margin-bottom: 0 !important;
}


/* タイトル
----------------------------------------------- */
h2.title {
    background-color: #FFFFFF;
    background-image: url("../img/common/top_title_bg.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    border-right: 1px solid #DCDCDC;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 6px 5px 9px 25px;
}

h2.title_card{
	background-color: white;
	background-image: url("../img/common/top_title_bg.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	border: 1px solid #999;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 56px;
	padding: 6px 5px 8px 25px;
	width: 551px;
	}

#one_maincolumn .sub_area h3 ,
#two_maincolumn_right .sub_area h3 ,
#two_maincolumn_left .sub_area h3 ,
#three_maincolumn .sub_area h3 ,
#undercolumn_login .login_area h3 ,
#undercolumn_shopping h3 ,
#mypagecolumn h3 ,
#undercolumn_cart h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    color: #f60;
    background: url("../img/background/line_01.gif") repeat-x left bottom;
    font-size: 120%;
}

div#undercolumn_login .login_area h4 {
    padding-left: 15px;
    background: url("../img/icon/ico_arrow_05.gif") no-repeat left;
}


/* ==============================================
 ヘッダー
=============================================== */
/* レイアウト
----------------------------------------------- */
#header_wrap {
    min-height: 78px;
}
#header {
    margin: auto;
    width: 960px;
	background: url(../img/common/logo_bg.jpg) no-repeat 0px 17px;
}
#logo_area {
    float: left;
    height: 85px;
    padding-left: 0;
    padding-top: 17px;
    text-align: left;
    width: 230px;
	margin:0px;
    margin-bottom:12px \0/; /* IE9 */ 
	*height: 96px;
}

#header_utility {
}

#errorHeader {
    color: #F00;
    font-weight: bold;
    font-size: 12px;
    background-color: #FEB;
    text-align: center;
    padding: 5px;
}

#header_icon{
    float: left;
    margin: 45px 10px 0 58px;
    *margin: 23px 10px 0 58px;
	_margin: 23px 10px 0 0px;
    width: 340px;
}
#header_icon ul li{
	float:left;
	margin-left: 10px;
	_margin-left: 8px;
}

#header_info{
	float: left;
        display: block;
        margin: 23px 0 0 0;
	}

#header_info:not(:target) {
        margin-top: 23px\9; /* IE9 */
        }

#header_tel{
	}

#header_info_botan{
	margin:0;
	padding:0;
	}	
	

/* ロゴ
----------------------------------------------- */
#site_description {
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: 0;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 3px;
	font-size: 10px;
        text-align: left;
}
#logo_area h1 {
    width: 230px;
    height: 68px;
	
}
#logo_area h1 span {
    display: none; /* テキストロゴ非表示 */
}



/* ヘッダー右
----------------------------------------------- */

#tagline {
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	padding-top: 48px;
	padding-right: 7px;
	padding-left: 35px;
	line-height: 100%;
	background: url(../img/common/tagline.jpg) no-repeat 50px 52px;
	*float: right;
	*background: url(../img/common/tagline.jpg) no-repeat 5px 5px;
	*margin: 0;
	*padding: 0 0 0 35px;
	}

#tagline img {
	margin: 0;
	vertical-align: -4px;
	}

#nvUserWrapper {
	float: right;
/*	background: #FFFFFF;*/
	margin-top: 0;
	border-top: 0px solid #EE1C25;
	border-right: 0px solid #EE1C25;
	border-left: 0px solid #EE1C25;
	*margin: 0;
	*padding: 0;


	}

#nvUser form {
        margin: 0;
        padding: 0;
        }

#nvUser ul {
	margin: 0 5px 0 0;
	padding:  0;
	list-style-type: none;
	text-align: center;
	line-height: 150%;
	float: right;
        width: 250px;
	}

#nvUser ul li {
        margin: 1px 5px 2px 0;
	padding: 0 0 0 10px;
        display: block;
	float:right;
	background: url(../img/common/page_top.png) no-repeat -3px 3px;
	}

#nvUser ul li a {
	text-decoration: none;
	font-size: 12px;
	}

#nvUser ul li a:hover {
	text-decoration: underline;
	}


/* ヘッダーナビ
----------------------------------------------- */
div#header_navi {
    float: right;
    width: 350px;
    height: 75px;
}
div#header_navi ul li {
    display: block;
    float: left;
}
div#header_navi ul li.mypage,
div#header_navi ul li.entry {
    margin-top: 3px;
}

/* ヘッダーメニュー
----------------------------------------------- */
#navMainWrapper {
	margin: 0em;
	margin-bottom: 0px;
	height: 40px;
	background-color: #EFEFEF;
	font-weight: bold;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	background-image: url(../img/common/nav_cat_bg.gif);
	background-repeat: repeat-x;
	border-top: 4px solid #278a26;
	border-bottom: 1px solid #999999;
        clear: both;
}

#navMain ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	line-height: 1.5em;
}

#navMain ul li {
	display: block;
	width: 106px;
	_width: 103px;
	white-space: nowrap;
	float:left;
}

#navMain ul li a, #navCatTabs ul li a {
	text-decoration: none;
/*	padding: 0em 0.5em;*/
/*	margin: 0;*/
	color: #666666;
}

#navMain ul a {
	margin: 0;
	padding-top: 10px;
	padding-right: 18px;
	padding-bottom: 12px;
	padding-left: 15px;
	display: block;
	background: url(../img/common/nav_cat_bg_off.gif) #FFFFFF no-repeat right 0;
}

#navMain ul a:hover {
	background: url(../img/common/nav_cat_bg_on.gif) #FFFFFF no-repeat right 0;
	text-decoration: underline;
}

/* ==============================================
 パンくず
=============================================== */
#navBreadCrumb {
	font-size: 12px;
	font-weight: normal;
	margin: 0em;
	padding: 0.5em 0.5em 0.5em 1.5em;
	}



/* ==============================================
 フッター
=============================================== */
#footer_wrap {
    margin: 0 auto;
    width: 960px;
    background: #fff;
}

#navSuppWrapper {
        background-color: #EFEFEF;
    	border-bottom: 1px dotted #999999;
    	border-top: 1px solid #999999;
    	font-weight: normal;
    	margin: 10px 0 0;
    	padding: 8px 8px 0;
    	text-align: left;
		*height:106px;
		*padding: 16px 0 16px  9px;
}

#navSupp ul {
	height: 5px;
    margin: 5px 0 15px 15px;
	margin: 5px 0 0px 15px¥9;
	*margin: 2px 0 0px 15px;
	_margin: 5px 0 0px 15px;
    padding: 0;
  　width: 910px;
    *height:20px;
}

#navSupp ul:not(:target) {
	height: 5px;
	margin: 5px 0 0px 15px¥9;
    padding: 0;
  　width: 930px;
	}

#navSupp li {
	float: left;
	list-style: none;
	line-height: 150%;
}

li.navSuppTitle {
	height: 20px;
	width: 170px;
	font-weight: bold;
}

#navSupp a {
	color: #333333;
}

#navSuppWrapper2 {
	border-bottom: 1px solid #999999;
	margin:0 auto;
	text-align:left;
	background-color: #EFEFEF;
	padding: 8px 8px 15px 8px;
	*padding-top:7px;
}

#navSupp2 ul {
	position: relative;
	left: 45%;
	float:left;
	margin-top: 5px;
	margin-bottom:3px;
}

#navSupp2 li {
	float: left;
	list-style: none;
	line-height: 150%;
	position: relative;
	left: -45%;
	margin-right; 5px:
}

#navSupp2 a {
	color: #333333;
}

#navSupp2 a:hover {
	color: #EE1C25;
}

#siteinfoCatch {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
/*	background-color: #F7D9DA; */
	*padding-top:1px;
}

#siteinfoCatch a {
	color: #333333;
	text-decoration: underline;
}

#siteinfoCatch a:hover {
	color: #EE1C25;
	text-decoration: none;
}

#siteinfoLegal {
	background-color: #278a26;
	color: #FFFFFF;
	line-height: 175%;
        text-align: center;
}

#siteinfoLegal a {
	color: #FFFFFF;
}





/* ==============================================
 パーツ
=============================================== */
/* ボタン
----------------------------------------------- */
.btn_area {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}



.btn_area li {
    padding-right: 10px;
    display: inline;
}


/* 完了メッセージ
----------------------------------------------- */
div#complete_area {
    margin-bottom: 20px;
}
div#complete_area .message ,
div#undercolumn_entry .message {
    margin-bottom: 20px;
    line-height: 150%;
    font-weight: bold;
    font-size: 120%;
}
div#complete_area .shop_information {
    margin-top: 40px;
    padding: 20px 0 0 0;
    border-top: solid 1px #ccc;
}
div#complete_area .shop_information .name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 140%;
}

.helpTips {
	cursor: help;
}


/* Tipsy
-----------------------------------------------*/
.tipsy { padding: 5px; font-size: 12px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; background: url('../img/ajax/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

/* 絞り込み用ラジオボタンを装飾 */
label.radio_checked {
	background: url(/images/tick.png) no-repeat 0 -1px;
	display: block;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	cursor: pointer;
}
label.radio_unchecked  {
	background: url(/images/cross.png) no-repeat 0 -1px;
	display: block;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	cursor: pointer;
}


/* 絞り込み用ラジオボタンを装飾 */
label:hover{
	color: #EE1C25;
	text-decoration: underline;
}

label.highlighted {
	border: 1px solid #333;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* 絞り込み用ラジオボタンを装飾	*/
/* STOP EDITTING - DO NOT CHANGE OR REMOVE        */
.crirHidden {
	position: absolute;
	left: -1000px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#recentproducts_2 {
padding: 10px 0px 10px 29px;
width: 651px;
background-image: url(http://www.rakuten.ne.jp/gold/setsubi/user_data/packages/default/img/common/recently_viewed_products2.jpg);
font-weight: bold;
font-size: 14px;
margin-left: 20px;
}

.listphoto_2 {
width: 180px;
padding: 0px 0 0 0px;
float: left;
}